html {
    background-color: #ffdfa9e8;
}
table {
    width: 85%;
    border-color: antiquewhite;
}
.header {
    border: 2px solid rgb(80, 48, 28);
    text-align: center;
    background-color: #a75525e8;
}
div {
    border: 1px solid rgb(80, 48, 28);
}
.list-item {
    background-color: rgb(255, 236, 215);
    height: 100px;
}
.button {
    position: relative;
    float: right;
}
#rot {
    background-color: #AE431E;
    width: 33%;
}
#gelb {
    background-color: #D06224;
    width: 33%;
}
#grün {
    background-color: #8A8635;
    width: 33%;
}
#todo {
    background-color: #a83f1c75;
}
#inprogress {
    background-color: #d0632475;
}
#done {
    background-color: #8a863575
}

button{
    border:none;
    border-radius:5px;
    padding:10px 15px;
    font-size:18px;
    cursor:pointer;
    margin-left: 10px;
}
  
button:hover{
    background-color:rgb(202, 202, 202);
}
#submit {
    margin-left: 90px;
}
#todo_list {
    border: none;
}
#formular {
    /* display: flex; */
    float: left;
    background-color: #a75525e8;
}