html {
    background-color: moccasin;
}
table {
    width: 85%;
    border-color: antiquewhite;
}
.header {
    border: 10px solid rgb(80, 48, 28);
    text-align: center;
    background-color: rgb(151, 136, 109);
}
div {
    border: 5px solid rgb(80, 48, 28);
}
.list-item {
    background-color: rgb(238, 224, 199);
    height: 100px;
}
.button {
    position: relative;
    float: right;
}
#rot {
    background-color: brown;
    width: 33%;
}
#gelb {
    background-color: chocolate;
    width: 33%;
}
#grün {
    background-color: #556b2f;
    width: 33%;
}
#todo {
    background-color: brown;
}
#inprogress {
    background-color: chocolate;
}
#done {
    background-color: #556b2f;
}

button{
    border:none;
    border-radius:5px;
    padding:10px 15px;
    font-size:18px;
    cursor:pointer;
    margin-left: 10px;
}
  
button:hover{
    background-color:rgb(202, 202, 202);
}
#submit {
    margin-left: 90px;
}
#todo_list {
    border: none;
}
#formular {
    /* display: flex; */
    float: left;
    background-color: rgb(151, 136, 109);
}